@model ElectronicsStoreMVC.Models.Order

@{
    ViewBag.Title = "Update Order Status";
}

<h2>Update Order Status</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Order #@Model.Id</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Id)

        @Html.HiddenFor(model => model.Date)
        @Html.HiddenFor(model => model.ProductCount)
        @Html.HiddenFor(model => model.ProductPrice)
        @Html.HiddenFor(model => model.CustomerId)
        @Html.HiddenFor(model => model.ProductId)

        <div class="form-group">
            <label class="control-label col-md-2">Order Date</label>
            <div class="col-md-10">
                <p class="form-control-static">@Model.Date.ToShortDateString()</p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Total Price</label>
            <div class="col-md-10">
                <p class="form-control-static">$@(Model.ProductPrice * Model.ProductCount)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Status, new List<SelectListItem>
                {
                    new SelectListItem { Text = "Pending", Value = "Pending" },
                    new SelectListItem { Text = "Processing", Value = "Processing" },
                    new SelectListItem { Text = "Shipped", Value = "Shipped" },
                    new SelectListItem { Text = "Delivered", Value = "Delivered" },
                    new SelectListItem { Text = "Cancelled", Value = "Cancelled" }
                }, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-top: 20px;">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update Status" class="btn btn-primary" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}